html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #EEDEED; 
}


.search-container {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 180%;
  background: white;
  border: 1px solid #ddd;
  z-index: 999;
  text-decoration: none;
}

.suggestion-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;

}

.suggestion-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.suggestions a, .suggestion-item {
  color: inherit;         
  text-decoration: none;  
  background: white;   
}

